$color-first: #2a3b40;
$color-first-light: #d4d8d9;
$color-secondary: #d89b64;
$color-secondary-bright: #ff992b;
$color-secondary-dark: #ad6c12;


$color-text-first: #d0d4d5;


$color-white: #fff;
$color-black: #000;


$font-size-small: 1.2rem;
$font-size-base: 1.4rem;
$font-size-medium: 1.6rem;
$font-size-big: 1.8rem;

$font-family-first: 'Raleway', sans-serif;
$font-family-second: 'Cookie', cursive;

$section3-content-width: 108.2rem;